#NavBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 46px;
}
.new-msg-dot {
  position: absolute;
  right: -4px;
  top: -3px;
  width: 10px;
  height: 10px;
  z-index: 2;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  background-color: red;
  background-color: #f43531;
  font-size: 0;
}
